@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Geral */

* {
    font-family: 'Poppins';
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background-color: #12813b9c;
    min-height: 100vh;
}

.controla-height{
    height: 150px;
}

/* barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background:#12A348;
}
::-webkit-scrollbar-thumb {
    background: #095225;
    border-radius: 10px;
}
/* Seleção*/
::selection{
    background-color: #00500f9d;
}

/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 150px;
    margin-right: 8px;
}

.header-container > img{
    height: 100px;
    margin: 20px;
}

.header-container nav{
    height: 60px;
    width: 70%;
    background-color: #0D7233;
    position: relative;
    z-index: 20;
}

.header-container ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.header-container ul li{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header-container ul li a:hover{
    background-color: rgb(214, 18, 18);
}

.header-container ul li a{
    z-index: 10;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
}

/* MENU DROP */
.header-container .dp-menu-pai{
    position: relative;
    z-index: 5;
}

.header-container ul.dp-menu-filho{
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    top: -150px;
    z-index: -1;
    background-color: #0D7233;
    opacity: 0;
    transition: .3s all ease;
}

.header-container ul.dp-menu-filho .line-div{
    height: 1px;
    width: 80%;
    background-color: #052e0c;
    margin: 0 auto;
}


/* IMAGENS DE FUNDO */

.imgs-fundo{
    position: fixed;
    opacity: .8;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/background2.jpg');
}

/* MAIN GERAL*/

.main-container{
    width: max(70%, 700px);
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.main-container .div-botao{
    position: relative;
    width: 100%;
    height: 60px;
}

.main-container .botao{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px 6px;
    border: 1px solid #008D1B;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    transition: .3s all ease;
}
.main-container .botao:hover{
    background-color: #008D1B;
    color: white;
}



/* Slides */

.main-container .container{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-container .slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container .elem-apecom{
    width: 150px;
    height: 100px;
    background-color: rgb(104, 104, 104);
    margin: 5px;
}

/* MAIN SECTIONS */

.main-container section{
    position: relative;
    background-color: hsl(132, 76%, 92%);
    margin-bottom: 50px;
    width: 100%;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.main-container section img{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
}

.main-container section.model1{
    display: flex;
    align-items: center;
}

.main-container section.model1 .titulo{
    flex: 1;
    border-right: 1px solid black;
    height: 80px;
    display: flex;
    align-items: center;
}

.main-container section.model1 .titulo h3{
    font-size: 2rem;
    padding: 0 65px;
    text-align: center;
    font-weight: bold;
}

.main-container section.model1 .text{
    flex: 2;
    font-size: 1.6rem;
    padding: 0 30px;
}

.main-container section.model1 .link{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.main-container section.model1 .link a{
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-top: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

.main-container section.model2{
    height: 200px;
}

.main-container section.model2 h3{
    font-weight: bold;
    padding: 10px;
}

.main-container section.model3 {
    width: 40%;
    height: 70px;
}

.main-container section.model3 img{
    top: 50%;
    transform: translate(0, -50%);
}

.main-container section.model3 .link{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container section.model3 .link a{
    color: black;
    font-size: 2rem;
}

/* MAIN DEVOCIONAIS */

.main-container.devocional{
    position: relative;
    background-color: #DBFAE1;
    min-height: 300px;
}

.main-container.devocional .card{
    margin-bottom: 15px;
}

.main-container.devocional .card.isHoje{
    border: 3px solid #008D1B;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.main-container.devocional .card.notHoje:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-container.devocional .card .card-body .card-assunto{
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.main-container.devocional .card .card-body .card-date{
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1.4rem;
}

/* MAIN CRIAR DEVOCIONAL */

.main-container.criar-devocional{
    background-color: #DBFAE1;
    width: 60%;
}

/* FORMULÁRIO */

.main-container.criar-devocional .row label{
    font-size: 1.4rem;
    font-weight: bold;
}
.main-container.criar-devocional .row input,
.main-container.criar-devocional .row textarea{
    font-size: 1.4rem;
    border-color: #9e9e9e;
    transition: .5s all ease;
}
.main-container.criar-devocional .row input::placeholder,
.main-container.criar-devocional .row textarea::placeholder{
    color: red;
}

.main-container.criar-devocional .row textarea{
    min-height: 100px;
}

/* MAIN DETALHAR DEVOCIONAL */

.main-container.detalhar section{
    min-height: 300px;
}
.main-container.detalhar section .titulo{
    flex: .7;
}

/* FOOTER */

.footer-container{
    --height-footer: 100px;
    width: 100%;
    height: var(--height-footer);
    background-color: #12A348;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container > div{
    flex: 1;
}

.footer-container p {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.footer-container .icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.377);
}

.footer-container .icones div{
    margin: 5px 0;
    color: white;
    font-size: 1.6rem;
}

.footer-container .icones img{
    width: 30px;
}