.box{

    padding: 40px 0;
    position: relative;
    background-color: rgba(43, 45, 49, 0.8);
    border: 2px solid rgb(25, 26, 29);
    text-align: center;
    margin: 0 auto;
}
.box.box-login{
    width: 300px;
    height: 300px;
}
.box.box-devocional{
    width: 600px;
    height: 400px;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box .row{
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}
.box div.campo{
    border: 2px solid #009978;
    margin: 20px auto;
    text-align: center;
    width: 220px;
    height: 40px;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    display: flex;
    align-items: center;
}
.box div.campo-textarea{
    height: 100px;
    width: 87%;
    padding: 10px;
    border: 2px solid #009978;
    margin: 20px auto;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    display: flex;
    align-items: center;
}
.box div.campo.campo-arquivo input{
    display: none;
}
.box div.campo.campo-arquivo{
    width: 30%;
    height: 50px;
    border: 2px solid #009978;
    background: none;
    display: flex;
    justify-content: space-around;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}
.box div.campo.campo-arquivo:hover{
    border-radius: 30px;
    width: 200px;
    background-color: #009978;
}
.box div.campo.campo-arquivo label{
    padding-right: 10px;
}

.box div.campo input,
.box div textarea{
    width: 100%;
    height: 100%;
    background: none;
    margin: auto 0;
    border: none;
    outline: none;
    color: white;
}
.box div.campo input::placeholder,
.box div textarea::placeholder{
    color: #d8d8d8;
}
.box img{
    margin: 0 5px;
    width: 25px;
}

.box button{
    border: 2px solid #009978;
    background: none;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 10px 40px;
    width: 140px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}
.box button:hover{
    border-radius: 30px;
    width: 150px;
    background-color: #009978;
}